/node_modules
/alisa-admin/node_modules
/site-html/node_modules
/alisa-site/node_modules
/alisa-site/public/images
/react-template/node_modules
/alisa-site/db.js
/alisa-site/bin/www
alisa-site/bin/www
alisa-site/bin/www
/alisa-admin/.idea
site-html/.idea/workspace.xml
alisa-site/.idea/workspace.xml
react-template/.idea/workspace.xml
site-html/.idea/watcherTasks.xml
site-html/.idea/workspace.xml
alisa-site/.idea/workspace.xml
react-template/.idea/workspace.xml
site-html/.idea/workspace.xml
