<% include ../base/head %>
<% include ../components/menu/menu_top %>

<div class=product-page>
    <div id='user_container'></div>
</div>


<% include ../base/footer %>


<script type="text/javascript" src="/common.js" charset="utf-8"></script>
<script type="text/javascript" src="/user.js" charset="utf-8"></script>
<% include ../base/bottom %>
