#product_img{
  img{
    margin-bottom: 1rem;
    cursor: pointer;
  }

  .modal-product-img{
    .modal-body{
      max-height: 70vh;
      img{
        height: 95%;
        width: auto;
        margin: 0 auto;
      }
    }

    .btn.btn-clear{
      font-size: 3rem;
    }

  }
}