.user-register {
  margin-top: 1rem;;
  background-color: #fff;
  padding: 1rem;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 23rem;

  .btn{
    margin-top:1rem;
  }
}