<ul class="breadcrumb">
    <li class="breadcrumb-item">
        <a routerLink="/">Главная</a>
    </li>
    <li class="breadcrumb-item">
        <a routerLink="/products">Товары</a>
    </li>
    <li class="breadcrumb-item">
        <a>Редактирование товара</a>
    </li>
</ul>

<div id="introduction" class="container">
    <h3 class="s-title">Редактирование товара</h3>
    <div class="docs-note">
        <div class="columns">
            <div class="column col-gapless">
                <div class="form-horizontal">
                    <h4>Основное</h4>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Название</label>
                        </div>
                        <div class="col-9 col-sm-12">
                            <input [(ngModel)]="product.caption" class="form-input" type="text"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Цена</label>
                        </div>
                        <div class="col-5 col-sm-12">
                            <input [(ngModel)]="product.price" class="form-input" type="number"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Главная картинка</label>
                        </div>
                        <div class="col-4 col-sm-12">
                            <fancy-image-uploader [options]="options"
                                                  (onUpload)="onUploadMainImg($event)"></fancy-image-uploader>
                        </div>
                        <div class="col-4 col-sm-12">
                            <img class="img-responsive" [src]="rest+product.main_img">
                        </div>
                    </div>

                    <br>
                    <h4>Категории</h4>
                    <div class="form-group">
                        <label class="form-checkbox" *ngFor="let c of product.categories" for="cc_{{c.id}}" >
                            <input [(ngModel)]="c.checked" id="cc_{{c.id}}" type="checkbox">
                            <i class="form-icon"></i> {{c.caption}}
                        </label>
                    </div>

                    <br>
                    <h4>Производитель</h4>
                    <div class="form-group" *ngIf="manufacturerList">
                        <select  [(ngModel)]="product.manufacturer_id"  class="form-select">
                            <option value="0">Нет</option>
                            <option value="{{m.id}}" *ngFor="let m of manufacturerList">{{m.caption}}</option>
                        </select>
                    </div>

                    <br>
                    <h4>Вид</h4>
                    <div class="form-group">
                        <select  [(ngModel)]="product.choco_type"  class="form-select">
                            <option value="0">Нет</option>
                            <option value="1">Темный</option>
                            <option value="2">Горький</option>
                            <option value="3">Молочный</option>
                            <option value="4">Белый</option>
                            <option value="5">Цветной</option>
                        </select>
                    </div>

                    <br>
                    <h4>Храрактеристики</h4>
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Масса</label>
                        </div>
                        <div class="col-5 col-sm-12">
                            <input [(ngModel)]="product.massa" class="form-input" type="number"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Процент содержания какао</label>
                        </div>
                        <div class="col-5 col-sm-12">
                            <input [(ngModel)]="product.cacao_percent" class="form-input" type="number"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Начинка (через запятую)</label>
                        </div>
                        <div class="col-5 col-sm-12">
                            <input [(ngModel)]="product.filling" class="form-input" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Подсластитель</label>
                        </div>
                        <select  [(ngModel)]="product.sugar"  class="form-select">
                            <option value="0">Нет</option>
                            <option value="1">Сахар рафинад</option>
                            <option value="2">Сахар тростниковый</option>
                            <option value="3">Мед</option>
                            <option value="4"> Панелла  Пекмез</option>
                        </select>
                    </div>

                    <br>
                    <h4>Описание</h4>
                    <div class="form-group">
                        <textarea [(ngModel)]="product.description" class="form-input" rows="5"></textarea>
                    </div>

                    <br>
                    <h4>Изображения</h4>
                    <!--*******************-->
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Картинка 1</label>
                        </div>
                        <div class="col-4 col-sm-12">
                            <fancy-image-uploader [options]="options"
                                                  (onUpload)="onUploadImg1($event)"></fancy-image-uploader>
                        </div>
                        <div class="col-4 col-sm-12">
                            <img class="img-responsive" [src]="rest+product.img1">
                        </div>
                    </div>

                    <!--*******************-->
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Картинка 2</label>
                        </div>
                        <div class="col-4 col-sm-12">
                            <fancy-image-uploader [options]="options"
                                                  (onUpload)="onUploadImg2($event)"></fancy-image-uploader>
                        </div>
                        <div class="col-4 col-sm-12">
                            <img class="img-responsive" [src]="rest+product.img2">
                        </div>
                    </div>

                    <!--*******************-->
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Картинка 3</label>
                        </div>
                        <div class="col-4 col-sm-12">
                            <fancy-image-uploader [options]="options"
                                                  (onUpload)="onUploadImg3($event)"></fancy-image-uploader>
                        </div>
                        <div class="col-4 col-sm-12">
                            <img class="img-responsive" [src]="rest+product.img3">
                        </div>
                    </div>

                    <!--*******************-->
                    <div class="form-group">
                        <div class="col-3 col-sm-12">
                            <label class="form-label">Картинка 4</label>
                        </div>
                        <div class="col-4 col-sm-12">
                            <fancy-image-uploader [options]="options"
                                                  (onUpload)="onUploadImg4($event)"></fancy-image-uploader>
                        </div>
                        <div class="col-4 col-sm-12">
                            <img class="img-responsive" [src]="rest+product.img4">
                        </div>
                    </div>

                    <div class="divider"></div>
                    <div class="form-group">
                        <button type="button" (click)="save()" class="btn btn-success"><i class="icon icon-check"></i>
                            Сохранить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-modal-dialog
        [(show)]="onModalShow"
        (onDone)="onDialogDone($event)"
        [title]="'Готово'"
        [content]="'Товар добавлена'"></app-modal-dialog>
